@{
    ViewData["Title"] = "Add a Restaurant";
    Layout = "_Layout";
}

@model ZoomFood.Models.Restaurant;
<h3>Add a new Restaurant</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Cuisine)
        @Html.DropDownList("CuisineId") 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PriceRating)
        @Html.TextBoxFor(model => model.PriceRating) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Latitude)
        @Html.TextBoxFor(model => model.Latitude) 
    </div>

    <div class="form-group"> 
        @Html.LabelFor(model => model.Longitude)
        @Html.TextBoxFor(model => model.Longitude) 
    </div>
    <input type="submit" value="Add new restaurant" />
}

<p>@Html.ActionLink("Go back to all restaurants", "Index")</p>