@using ZoomFood.Models;
@model ZoomFood.Models.Restaurant;
@{
    ViewData["Title"] = @Model.Name;
    Layout = "_Layout";
}

<h1>@Model.Name</h1>
<h6><em>@Model.Cuisine.Name</em></h6>
<h4>Price Rating:
@if(@Model.PriceRating == 1)
{
    <img class="droneRating" src="~/img/drone.png">
}
@if(@Model.PriceRating == 2)
{
    <img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png">
}
@if(@Model.PriceRating == 3)
{
    <img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png">
}
@if(@Model.PriceRating == 4)
{
    <img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png">
}
@if(@Model.PriceRating == 5)
{
    <img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png"><img class="droneRating" src="~/img/drone.png">
}
</h4>

<h3>Menu Items:</h3>
@if(@Model.MenuItems.Count == 0)
{
    <p>The menu is currently unavailable at this time. Please come into our restaurant to see the menu in person.</p>
}
else
{
    <ul>
    @foreach(MenuItem menuItem in @Model.MenuItems)
    {
        <li>@Html.ActionLink($"{@menuItem.Name}", "Details", "MenuItem", new {id = @menuItem.MenuItemId }) | $ @menuItem.Price</li>
    }
    </ul>
}
<p>Is a menu item missing? Add one @Html.ActionLink("here", "Create","MenuItem", new { id = Model.RestaurantId })</p>

<p>@Html.ActionLink("Remove Restaurant", "Delete", new {id = @Model.RestaurantId })</p>
<p>@Html.ActionLink("Edit Restaurant", "Edit", new {id = @Model.RestaurantId })</p>
