@{
    ViewData["Title"] = "Add a Menu Item";
    Layout = "_Layout";
}

@model ZoomFood.Models.MenuItem;
<h3>Add a new MenuItem</h3>
@using (Html.BeginForm())
{
    <input type="hidden" id="RestaurantId" name="RestaurantId" value="@ViewBag.RestaurantId" />

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Calories)
        @Html.TextBoxFor(model => model.Calories)
    </div>

<h6>Characteristics:</h6>
    <p>Spicy: @Html.CheckBoxFor(model => model.IsSpicy)
    Gluten Free: @Html.CheckBoxFor(model => model.IsGlutenFree)
    Vegan: @Html.CheckBoxFor(model => model.IsVegan)
    Vegetarian: @Html.CheckBoxFor(model => model.IsVegetarian)
    Organic: @Html.CheckBoxFor(model => model.IsOrganic)
    Contains GMO: @Html.CheckBoxFor(model => model.HasGMOs)</p>

    <p><input type="submit" value="Add new menu item" /></p>
}

@Html.ActionLink("Go Back", "Details", "Restaurant", new { id = @ViewBag.RestaurantId })