@using ZoomFood.Models;
@model ZoomFood.Models.MenuItem;
@{
    ViewData["Title"] = @Model.Name;
    Layout = "_Layout";
}

<h1>@Model.Name</h1>
<h4>$@Model.Price</h4>
<h4>@Model.Description</h4>
<h6>@Model.Calories calories</h6>

@if(@Model.IsSpicy)
{
    <img src="~/img/spicy.jpg">
}
@if(@Model.IsGlutenFree)
{
    <img src="~/img/glutenfree.png">
}
@if(@Model.IsVegan)
{
    <img src="~/img/vegan.png">
}
@if(@Model.IsVegetarian)
{
    <img src="~/img/vegetarian.png">
}
@if(@Model.IsOrganic)
{
    <img src="~/img/organic.png">
}
@if(!@Model.HasGMOs)
{
    <img src="~/img/gmofree.jpeg">
}

@Html.ActionLink("Go Back to " + Model.Restaurant.Name, "Details", "Restaurant", new { id = @Model.RestaurantId })